<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-[#41B3Ğ3]">
    <h1 class=" text-6xl"><%= title %></h1>
    <button ><a href="/new">new message</a></button>
    <main>
      <% messages.forEach(function(message){ %>
        <h2><%=message.name %> </h2>
        <p><%=message.message %></p>
        <span><%=message.date%></span>
        <%}) %>
        <% if(!messages){ %>
        <h1>Loading...</h1>
        <% } %>
    </main>
  </body>
</html>
