<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button ><a href="/new">new message</a></button>
    <main>
      <% messages.forEach(function(message){ %>
        <h2><%=message.user %> </h2>
        <p><%=message.text %></p>
        <span><%=message.added%></span>
        <%}) %>
    </main>
  </body>
</html>
